/**section temporaire**/
* {
    font-family: Roboto;
}
img {
    width: 300px;
}

h2 {
    font-family: Shrikhand;
}

/** couleurs site

    #9356DC  violet
    #003A68  bleu foncé
    #89C8FA  bleu ciel
    #008766  vert foncé
    #99E2D0  vert clair

    fonts:  roboto    - texte
            Shrikhand - titrage
**/



/**section temporaire**/